.App {
  text-align: center;
}

.testbox {
  width: 400px;
  border: 12px solid green;
  padding: 30px;
  margin: 20px;
  display: inline-block;
}

.timer {
  margin: 10px;
}

.ssSelector {
  height: 30px;
}
